.footer_Line {
  width: 100%;
  background: #272C3B;
  height: 455px;
}

.footer {
  height: 300px;
  margin: auto;
  width: 878px;
  margin-top: 71px;
  /* opacity: 0.3; */
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  background: #272C3B;
}

.footer_Links {
  display: flex;
  margin-top: 47px;

}

.footer_Links_Column {
  display: flex;
  flex-direction: column;
}

.footer_Links_Column div {
  font-size: 14px;
}

.footer_Links_Column a {
  font-size: 12px;
  font-weight: 300;
  margin-top: 14px;
}

#footer_Links_Service {
  margin-right: 82px;
}

#footer_Links_Med_Portal {
  margin-right: 104px;
}

#footer_Links_Info {
  margin-right: 30px;

}

#footer_Links_Info_Social {
  margin-top: 26px;
  letter-spacing: 0.4px;
}

#footer_Links_Contacts {
  color: #007CFF;
}

#footer_Links_Address {
  line-height: 19px;

}

.footer_Links_Info_Social_Icon {
  display: flex;
  margin-top: 16px;

}

.footer_Links_Info_Social_Icon img {
  height: 20px;

}

.footer_Links_Info_Social_Icon_Circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #272C3B;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_Links_Info_Social_Icon_Circle:hover {
  background-color: #0062FF;
}

#footer_Links_Info_Social_Icon_Circle_Fb {

}

#footer_Links_Info_Social_Icon_Circle_Vk {
  width: 17px;
}

#footer_Links_Info_Social_Icon_Circle_Odn {
  width: 10px;
}

#footer_Links_Info_Social_Icon_Circle_Inst {
  width: 17px;
}

#footer_Links_Info_Social_Icon_Circle_UT {
  width: 19px;
}

#footer_Links_Info_Social_Icon_Circle_Tg {
  width: 18px;
  margin-right: 5px;
}

#footer_Links_Info_Social_Icon_Circle_Y {

}

.footer_Attention {
  display: flex;
  margin-top: 39px;
  margin-left: -1px;
}

.footer_Attention_Icon {
  width: 95px;
  height: 92px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: #E2E2EA;
  border-width: 1px;
}

.footer_Attention_Icon img{
  width: 53px;
  margin-right: 2px;
}

.footer_Attention_Info {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  width: 782px;
  border-style: solid;
  border-color: #E2E2EA;
  border-width: 1px;
  margin-left: -1px;
}

.footer_Attention_Info_One {
  margin-left: 72px;
  margin-top: 21px;
  line-height: 17px;
}

.footer_Attention_Info_Two {
  margin-left: 48px;
  margin-top: 21px;
  line-height: 17px;

}

.footer_Attention_Info_Three {
  margin-left: 68px;
  margin-top: 21px;
  line-height: 17px;

}

.footer_Notice {
  display: flex;
  margin-bottom: 48px;
  margin-top: 24px;
  color: #979797;
}

.footer_Notice_Year {
  font-size: 12px;
  font-weight: 300;
  margin-right: 169px;
}

.footer_Notice_Rights {
  font-size: 12px;
  font-weight: 300;
}
